.course {
    margin-top: 113px;
    
}

.course__container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.course__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 29px;
    padding-left: 0;
    margin-top: 46px;
    list-style: none;
}

.course__item {
    padding: 24px 24px 34px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 16px 72px 0 rgba(34, 39, 47, 0.05);
    text-align: center; 
}

.course__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 24px; 
    margin-bottom: 24px;
    border-radius: 12px;
    background-color: #D6EADF;
}

.course__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
}

.course__description {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
}
