.popup__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__fieldset,
.form__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 24px;
    padding: 0;

    border: none;
}

.form__fieldset {
    margin: 0;
}

.form__field {
    align-self: flex-start;
    width: 100%;
    padding: 10px 26px;

    font-size: 16px;
    line-height: 28px;
}

.form__field::placeholder {
    color: #25292D;
    opacity: 0.5;
}

.form__field-alert {
    display: inline-block;
    padding-left: 2px;
    
    font-size: 12px;
    line-height: 28px;
    color: #25292D;

    opacity: 0.3;
}